@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #00FFFF;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #002E4D;
    border-radius: 10px;
}

.btn {
    @apply px-2 py-1 border border-mx-400 border-opacity-30 text-mx-400 text-opacity-30 rounded-full transition-all duration-300 font-semibold text-sm
     hover:text-opacity-100 hover:border-mx-400;
}

.btn2 {
    @apply bg-mx-400 xl:px-5 px-4 xl:py-3 py-2 flex items-center gap-2 font-semibold  transition-all duration-300 rounded-full border border-mx-400 
    hover:text-mx-400 hover:bg-transparent;
}

.btn3 {
    @apply px-2 py-1 border border-white border-opacity-10 text-white rounded-full transition-all duration-150 font-semibold text-sm
    hover:border-opacity-100;
}
